/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Project code begins */
body {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

#sidebar {
  background-color: rgb(195, 159, 231);
  min-width: 300px;
  max-width: 500px;
}

#sidebar h1 {
  text-align: center;
}

.sidebar-header {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.todos-container {
  margin: 50px;
}

.todo-item-container {
  display: grid;
  grid-template-columns: 25px .5fr 200px 1fr;
  margin: 20px 0 20px 0;
  opacity: 1;
  background-color: #FAFAFA;
}

.reduce-opacity {
  opacity: .7;
}

.grey-out-background {
  background-color: rgba(42, 42, 42, 0.35);
}

.strike-through {
  text-decoration: line-through;
}

.visible-information {
  width: 60%;
  justify-content: space-between;
}

.left-visible-info {
  flex-direction: column;
  margin-left: 10px;
}

.right-visible-info {
  display: flex;
  gap: 10px;
  justify-self: end;
}

.right-visible-info button {
  height: 30px;
}

.right-visible-info button:nth-child(2), .right-visible-info button:nth-child(3) {
  width: 30px;
  height: 30px;
}

.hidden-information {
  display: flex;
  gap: 10rem;
  width: 60%;
  grid-column: 2 / 5;
  margin-left: 10px;
}

.visible-information, .hidden-information {
  width: 80%;
}

#complete-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}